* {
    box-sizing: border-box;
}


body {
    background-image:url("https://wallpaperplay.com/walls/full/6/b/f/79654.jpg#.Xkim93pXR6A.link");
    color: white;
    background: cover;
    background-repeat: no-repeat;
    background-color: rgb(77, 136, 255);
}


.container {
    width: 300px;
    height: 350px;
    /* border: 1px black solid; */
    margin: 0 auto;
    background-color: white;
    color: black;
    margin-top: 45px;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.header-container {
    text-align: center;
}


fieldset {
    width: 300px;
    height: 350px;
    border: none;
    margin: 0 auto;
    background-color: white;
    color: black;
    margin-top: 45px;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}


.js-start-btn {
    background: green;
    color: white;
    border: 0;
    font-size: 20px;
    margin-top: 50px;
}

#next {
    color: white;
    background-color: grey;
}

#answer {
    color: white;
    background-color: grey;
}

#restart {
    color: white;
    background-color: grey;
}


.questionContainer {
    padding-bottom: 30px;
}

.optionContainer {
    padding: 10px;
}

.finalScore {
    text-align: center;
}

.scoreboard li {
    display: inline-block;
    font-size: 18px;
}

.scoreboard ul {
    text-align: center;
    padding-right: 50px;
}


@media only screen and (min-width: 768px){

.container {
    width: 600px;
    height: 300px;
    /* border: 1px black solid; */
    margin: 0 auto;
    background-color: white;
    color: black;
    margin-top: 45px;
    font-size: 18px;
}

.inner-button {
    display: flex;
    justify-content: center;
}

.js-start-btn {
    background: green;
    color: white;
    border: 0;
    font-size: 20px;
    margin-top: 80px;
    margin-right: 30px;
}

.larger-container {
    border: 1px solid;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    margin-top: 120px;
}


.js-form {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    margin-top: 120px;
    color: black;
    border: none;
}

fieldset {
    padding: 40px;
    margin:0 auto;
    background-color: white;
    border: none;
}

.questionContainer {
    padding-bottom: 30px;
    text-align: center;
}

.optionContainer {
    padding: 10px;
}

.submitContainer {
    text-align: center;
}

.finalScore {
    text-align: center;
}

.scoreboard li {
    display: inline-block;
    font-size: 20px;
}

.scoreboard ul {
    text-align: center;
}

.js-number {
    padding: 0 4%;
}

.js-score {
    padding: 0 4%;
}
}
